<p><%= image_tag @user.image unless @user.image == nil%></p>

<h2>User Name: <%= @user.name %> </h2>
<h4>Email: <%= @user.email %> </h2>

<% if logged_in? && (current_user.id == @user.id) %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>