<!DOCTYPE html>
<html ng-app>
<head>
  <title>Angularrailsblog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
