<ul>
  <% @beans.each do |bean| %>
    <li>
      <strong><%= bean.name %></strong> -- <%= bean.roast %> -- <%= link_to "Delete", bean,  method: :delete, data:{confirm: "Are you sure you want to delete this?"}%>

    </li>
  <% end %>
</ul>