<h1 style="background-color:green;color:white;">Morpheus Ipsum</h1>
<hr/>

<div class="container" >
  <section class="row">
    
    <div class="col-md-5">

      <input ng-model="numberOfParagraphs"></input>
      <p>No. of paragraphs: {{numberOfParagraphs}}</p>
      <p>
      <button class="btn btn-danger" ng-click="getQuote(numberOfParagraphs)">Generate!</button>
      </p>

      <textarea class="form-control" rows="9" onfocus="this.select()">{{quote}}</textarea>


    </div>




  </section>
</div>  

<!-- pass number of paragraphs to function -->