<div class="container" id="like-bar">
  <span id="span-left">Red pill, or blue?</span>
  <span id="span-right"><a href="https://twitter.com/harris_gca">Follow</a> | Share
</div>

<header>
  <div class="container" id="header">Morpheus Ipsum</div>
  <div class="container">A Morpheus-themed Lorem Ipsum generator</div>
</header>

<main class="container">
  <section class="row">
    
    <div class="col-md-5">

      <section id="make-choice">
        Make Your Choice
      </section>

      <section id="paragraph-block">
        <span id="how-many-paragraphs">Number of paragraphs?</span>
        <input ng-model="numberOfParagraphs" id="paragraph-selection-box"></input>
      </section>

      <section id="buttons">
        <button class="btn btn-danger" ng-click="getQuote(numberOfParagraphs)">Take the red pill</button>
        <button class="btn btn-primary" ng-click="clearQuotes()">Take the blue pill</button>
      </section>

      <section id="copy-text">
        <p>COPY/PASTE THE CODE BELOW.</p>
      </section>

      <textarea placeholder="All I'm offering is the truth. Nothing more." class="form-control" id="quotes" rows="9" onfocus="this.select()">{{quote}}</textarea>

    </div> <!-- end col-md-5 div -->

    <img src="../images/morpheus.jpg" style="max-width:100%;">


  </section> <!-- end row section -->
</main>  <!-- end container class -->

